*{
    margin: 0;
    padding: 0; 
    font-family: 'Times New Roman', Times, serif;

}
.main{
    background-color: rgb(116, 78, 9);
    height: 80px;
    width: 100%;      
    font-size: 20px;
    
}
.navbar ul{
    float: left;
    margin-left: 60px;
    list-style-type: none;
    padding-left: 10px;
    color: rgb(116, 78, 9) ;

}
.image img{
    position: absolute;
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 50%;

}
.image h1{
    margin-left: 120px;
    margin-bottom: 0vh;
}
.navbar ul li{
    float: left;
    margin-left: 100px;
    padding-top: 30px;
    
  
}
.img-background{
background-image: url(./images/download\ \(8\).jpg);
padding-top: 10px;
background-repeat: no-repeat;
height: 350px;
background-size: cover;
margin-top: 5px;
}
.img-background p{
    font-size: 40px;
    color: white;
    text-align: center;
    padding: 30px;
}
.overall-container{
    display: flex;
    margin: 50px;
}
.img-container1 img{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin-left:100px;
    
}
.img-container2 img{
    height: 130px;
    width: 130px;
    border-radius: 50%;
    margin-left: 150px;
}
.text-container1{
    margin-left: 20px;
    background-color: rgb(94, 255, 0);
    font-size: 20px;
    
} 
.text-container2{
   margin-left: 20px;
background-color: rgb(196, 49, 49);
font-size: 20px;
}
.text-container1 p{
color: rgb(2, 2, 2);
}
 .text-container2 p{
color: rgb(248, 246, 246)

}
.form-man{
margin-top: 20px;
font-size: 20px;
}
.form-man {
    display: flex;
    margin-left: 30px; 
    
}
.gender{
    margin-left: 60px;
    font-size: 25px;
    line-height: 50px;

}
.cert {
    margin-left: 40px;
    padding-left: 10px;
    line-height: 40px;
    
}

button{
    font-size: 30px;
    margin-left: 50px;
    margin-top: 20px;
    
}
button{
    border-radius: 20px;
    cursor: pointer; 
    transition: all;

}
button::after{
    background-color: yellow; 
    color: rgb(14, 125, 221);
}
.footercontainer{
    background-color: rgb(116, 78, 9);
   
}
.footercontainer ul li a{
    text-decoration: none;
    color: azure;
    font-size: large;
    font-family: Impact,;
    cursor: pointer;
    transition: none;

}
.footercontainer ul{
    margin: 50px;
}
.footercontainer ul li{
    list-style-type: none;
    padding-top: 20px;
}
.footercontainer p{
    padding-left: 300px;
    padding-bottom: 10px;
    color: azure;
}

